.testimoni {
  width: 100%;
  text-align: center;
  padding: 5rem 1rem;
  background-color: #fc5130; /* Sample background color */
  color: #ffffff; /* Sample text color */
}

.swiper {
  width: 80%;
  height: 400px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.swiper-slide {
  background: #ffffff; /* Sample slide background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px 5px, rgba(0, 0, 0, 0.3) 0px 8px 16px 8px;
  color: #333333; /* Sample text color */
}

.swiper-slide i {
  font-size: 40px;
  color: #f39c12; /* Sample icon color */
  margin-bottom: 1rem;
}

.swiper-slide h3 {
  font-family: 'Noto Serif', serif;
}

.testimoni-pic {
  padding: 1rem;
}

.testimoni-pic img {
  display: block;
  margin: 1rem auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


.testimoni-slide i {
  font-size: 40px;
  color: #3498db; /* Choose your preferred color */
  margin-bottom: 10px;
}
